# Feature Extract

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [51]:
# Get the data:
train_filepath = 'data/train.csv'
traindf = pd.read_table(train_filepath)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [52]:
# Inspect the schema
traindf.columns

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)'],
      dtype='object')

In [53]:
# Inspect the head of data
traindf.head(10)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,33.0,33.0,NaN,1,0,0,1,NaN,NaN
1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,15.0,15.0,NaN,1,0,0,1,NaN,NaN
2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,78.0,NaN,78.0,0,2,0,1,Define Variable,1
3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,104.0,NaN,104.0,0,4,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1
4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,6.0,6.0,NaN,1,0,0,1,Entering a given,1
5,9943,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R5C1,2005-09-09 12:27:30.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,11.0,11.0,NaN,1,0,0,1,Entering a given,2
6,9944,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R6C1,2005-09-09 12:27:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,60.0,60.0,NaN,1,0,0,1,Entering a given,3
7,9945,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R7C2,2005-09-09 12:28:50.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,8.0,8.0,NaN,1,0,0,1,Entering a given,4
8,9946,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,ValidEquations,2005-09-09 12:31:39.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,13.0,13.0,NaN,1,0,0,2,NaN,NaN
9,9947,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,7/10*X = 1400,2005-09-09 12:31:52.0,2005-09-09 12:32:28.0,2005-09-09 12:32:35.0,2005-09-09 12:32:35.0,43.0,NaN,43.0,0,1,0,1,NaN,NaN

In [54]:
# Apply df as alias for training data in the following computation
df = traindf
df.dtypes

Row                              int64
Anon Student Id                 object
Problem Hierarchy               object
Problem Name                    object
Problem View                     int64
Step Name                       object
Step Start Time                 object
First Transaction Time          object
Correct Transaction Time        object
Step End Time                   object
Step Duration (sec)            float64
Correct Step Duration (sec)    float64
Error Step Duration (sec)      float64
Correct First Attempt            int64
Incorrects                       int64
Hints                            int64
Corrects                         int64
KC(Default)                     object
Opportunity(Default)            object
dtype: object

In [36]:
# Clean up in dataframe, to remove redundant columns
# maybe some columns are deprecated, and no more used,
# fill them out of the following list and run this cell
# to do cleanup
columns_to_remove = ["Anon Student Id CFAR", "CFA | A,n,o,n, ,S,t,u,d,e,n,t, ,I,d"]
df = df.drop(columns=columns_to_remove)
df.columns

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)',
       'CFA | Anon Student Id'],
      dtype='object')

In [90]:
def CFAR(df, idx, columns, newcol, itercount, totalcount):
    if len(columns) == 0:
        cfa = df.loc[idx & (df["Correct First Attempt"] == 1)]
        df.loc[idx, newcol] = len(cfa) / len(df.loc[idx]) if len(df.loc[idx]) != 0 else 0.0
        
        # Update progress
        print("%.1f%%" % (itercount / totalcount * 100.0), end='\r')
        itercount+=1
    else:
        col = columns[0]
        keys = set(df[col])
        for k in keys:
            if idx is None:
                local_idx = (df[col] == k)
            else:
                local_idx = idx & (df[col] == k)
            itercount = CFAR(df, local_idx, columns[1:], newcol, itercount, totalcount)
    return itercount
            
def nameOfCFAR(columns):
    return "CFA | " + ','.join(columns)
            
def computeCFAR(df, columns):
    newcol = nameOfCFAR(columns)
    df[newcol] = pd.Series(np.zeros(len(df)), index=df.index)
    total = 1
    for col in columns:
        total *= len(set(df[col]))
    CFAR(df, None, columns, newcol, 0, total)

In [91]:
# CFA | Student Name
computeCFAR(df, ["Anon Student Id"])

In [95]:
# CFA | Step Name
computeCFAR(df, ["Step Name"])

In [92]:
# CFA | Problem Name
computeCFAR(df, ["Problem Name"])

In [93]:
# CFA | KC
computeCFAR(df, ["KC(Default)"])

In [156]:
# CFA | Student Name, Problem Name
computeCFAR(df, ["Anon Student Id", "Problem Name"])

In [94]:
# CFA | Student Name, KC
computeCFAR(df, ["Anon Student Id", "KC(Default)"])

In [69]:
# Inspect the head of new features
df.head(100)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Hints,Corrects,KC(Default),Opportunity(Default),CFA | Anon Student Id,CFA | Step Name,CFA | Problem Name,CFA | KC(Default),"CFA | Anon Student Id,Problem Name","CFA | Anon Student Id,KC(Default)"
232644,1076832,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS08,1,(3x^2)(4x^4),2006-03-22 09:45:51.0,2006-03-22 09:47:30.0,2006-03-22 09:47:30.0,2006-03-22 09:47:30.0,...,0,1,NaN,NaN,0.830189,1.000000,0.939252,0.000000,1.000000,0.000000
232645,1076833,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS08,1,FinalAnswer,2006-03-22 09:47:30.0,2006-03-22 09:47:49.0,2006-03-22 09:47:49.0,2006-03-22 09:47:49.0,...,0,1,perform-mult-sp,7,0.830189,0.649245,0.939252,0.867826,1.000000,0.900000
232646,1076834,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS07,1,(2y^4)(y^3),2006-03-22 09:48:01.0,2006-03-22 09:48:08.0,2006-03-22 09:48:08.0,2006-03-22 09:48:08.0,...,0,1,NaN,NaN,0.830189,1.000000,0.943005,0.000000,1.000000,0.000000
232647,1076835,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS07,1,FinalAnswer,2006-03-22 09:48:08.0,2006-03-22 09:48:18.0,2006-03-22 09:48:18.0,2006-03-22 09:48:18.0,...,0,1,perform-mult-sp,8,0.830189,0.649245,0.943005,0.867826,1.000000,0.900000
232648,1076836,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,1,(4y^4)(2y^5),2006-03-22 09:48:25.0,2006-03-22 09:48:58.0,2006-03-22 09:49:05.0,2006-03-22 09:49:05.0,...,0,1,NaN,NaN,0.830189,0.000000,0.891566,0.000000,0.750000,0.000000
232649,1076837,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,1,FinalAnswer,2006-03-22 09:49:05.0,2006-03-22 09:49:23.0,2006-03-22 09:49:23.0,2006-03-22 09:49:23.0,...,0,1,perform-mult-sp,9,0.830189,0.649245,0.891566,0.867826,0.750000,0.900000
232650,1076838,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,2,(4y^6)(3y^5),2006-03-22 09:49:30.0,2006-03-22 09:49:36.0,2006-03-22 09:49:36.0,2006-03-22 09:49:36.0,...,0,1,NaN,NaN,0.830189,1.000000,0.891566,0.000000,0.750000,0.000000
232651,1076839,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,2,FinalAnswer,2006-03-22 09:49:36.0,2006-03-22 09:49:46.0,2006-03-22 09:49:46.0,2006-03-22 09:49:46.0,...,0,1,perform-mult-sp,10,0.830189,0.649245,0.891566,0.867826,0.750000,0.900000
232652,1076840,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01-FIXED,1,(4(x^2)(y^4))(3(x^3)(y^3)),2006-03-22 09:49:53.0,2006-03-22 09:50:01.0,2006-03-22 09:50:01.0,2006-03-22 09:50:01.0,...,0,1,NaN,NaN,0.830189,0.954545,0.939189,0.000000,1.000000,0.000000
232653,1076848,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,(x^4)/x^2,2006-03-22 09:52:26.0,2006-03-22 09:52:43.0,2006-03-22 09:52:43.0,2006-03-22 09:52:43.0,...,0,1,NaN,NaN,0.830189,0.604651,0.562914,0.000000,1.000000,0.000000
232654,1076849,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,FinalAnswer,2006-03-22 09:52:43.0,2006-03-22 09:53:10.0,2006-03-22 09:53:10.0,2006-03-22 09:53:39.0,...,0,2,simplify-fractions-sp,1,0.830189,0.649245,0.562914,0.560626,1.000000,0.800000
232655,1076850,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,(x^2)/1,2006-03-22 09:53:10.0,2006-03-22 09:53:24.0,2006-03-22 09:53:24.0,2006-03-22 09:53:24.0,...,0,1,NaN,NaN,0.830189,0.571429,0.562914,0.000000,1.000000,0.000000
232656,1076851,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,(x^5)/x^5,2006-03-22 09:53:47.0,2006-03-22 09:53:57.0,2006-03-22 09:53:57.0,2006-03-22 09:53:57.0,...,0,1,NaN,NaN,0.830189,0.666667,0.676471,0.000000,0.666667,0.000000
232657,1076852,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,FinalAnswer,2006-03-22 09:53:57.0,2006-03-22 09:54:02.0,2006-03-22 09:54:11.0,2006-03-22 09:54:24.0,...,0,2,simplify-fractions-sp,2,0.830189,0.649245,0.676471,0.560626,0.666667,0.800000
232658,1076853,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,1/1,2006-03-22 09:54:11.0,2006-03-22 09:54:19.0,2006-03-22 09:54:19.0,2006-03-22 09:54:19.0,...,0,1,NaN,NaN,0.830189,0.666667,0.676471,0.000000,0.666667,0.000000
232659,1076854,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,(x^6)/x^2,2006-03-22 09:54:29.0,2006-03-22 09:54:34.0,2006-03-22 09:54:40.0,2006-03-22 09:54:40.0,...,0,1,NaN,NaN,0.830189,0.800000,0.651099,0.000000,0.666667,0.000000
232660,1076855,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,FinalAnswer,2006-03-22 09:54:40.0,2006-03-22 09:54:51.0,2006-03-22 09:54:51.0,2006-03-22 09:55:03.0,...,0,2,simplify-fractions-sp,3,0.830189,0.649245,0.651099,0.560626,0.666667,0.800000
232661,1076856,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,(x^4)/1,2006-03-22 09:54:51.0,2006-03-22 09:54:57.0,2006-03-22 09:54:57.0,2006-03-22 09:54:57.0,...,0,1,NaN,NaN,0.830189,1.000000,0.651099,0.000000,0.666667,0.000000
232662,1076857,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,(5y^4)/y^2,2006-03-22 09:55:10.0,2006-03-22 09:55:16.0,2006-03-22 09:55:16.0,2006-03-22 09:55:16.0,...,0,1,NaN,NaN,0.830189,1.000000,0.723849,0.000000,1.000000,0.000000
232663,1076858,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,FinalAnswer,2006-03-22 09:55:16.0,2006-03-22 09:55:42.0,2006-03-22 09:55:42.0,2006-03-22 09:56:00.0,...,0,2,simplify-fractions-sp,4,0.830189,0.649245,0.723849,0.560626,1.000000,0.800000
232664,1076859,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,(5y^2)/1,2006-03-22 09:55:42.0,2006-03-22 09:55:52.0,2006-03-22 09:55:52.0,2006-03-22 09:55:52.0,...,0,1,NaN,NaN,0.830189,1.000000,0.723849,0.000000,1.000000,0.000000
232665,1076860,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,(6x^5)/(3x^5),2006-03-22 09:56:06.0,2006-03-22 09:56:11.0,2006-03-22 09:56:11.0,2006-03-22 09:56:11.0,...,0,1,NaN,NaN,0.830189,1.000000,0.695876,0.000000,1.000000,0.000000
232666,1076861,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,FinalAnswer,2006-03-22 09:56:11.0,2006-03-22 09:56:28.0,2006-03-22 09:56:28.0,2006-03-22 09:56:40.0,...,0,2,simplify-fractions-sp,5,0.830189,0.649245,0.695876,0.560626,1.000000,0.800000
232667,1076874,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R1C1,2006-04-26 10:25:12.0,2006-04-26 10:27:41.0,2006-04-26 10:27:41.0,2006-04-26 10:27:41.0,...,0,1,NaN,NaN,0.830189,0.840631,0.870229,0.000000,0.888889,0.000000
232668,1076875,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R1C2,2006-04-26 10:27:41.0,2006-04-26 10:27:56.0,2006-04-26 10:28:19.0,2006-04-26 10:28:19.0,...,0,1,NaN,NaN,0.830189,0.830699,0.870229,0.000000,0.888889,0.000000
232669,1076876,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R2C1,2006-04-26 10:28:19.0,2006-04-26 10:29:00.0,2006-04-26 10:29:00.0,2006-04-26 10:29:00.0,...,0,1,Identifying units,1,0.830189,0.719705,0.870229,0.796004,0.888889,0.333333
232670,1076877,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R3C1,2006-04-26 10:29:00.0,2006-04-26 10:31:18.0,2006-04-26 10:31:18.0,2006-04-26 10:31:18.0,...,0,1,Define Variable,1,0.830189,0.966979,0.870229,0.966979,0.888889,1.000000
232671,1076878,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R3C2,2006-04-26 10:31:18.0,2006-04-26 10:31:26.0,2006-04-26 10:31:26.0,2006-04-26 10:31:26.0,...,0,1,Using simple numbers~~Using small numbers~~Wri...,1~~1~~1,0.830189,0.404477,0.870229,0.518980,0.888889,1.000000
232672,1076879,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R4C1,2006-04-26 10:31:26.0,2006-04-26 10:32:26.0,2006-04-26 10:32:26.0,2006-04-26 10:32:26.0,...,0,1,Entering a given,1,0.830189,0.760107,0.870229,0.817953,0.888889,1.000000
232673,1076880,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R5C1,2006-04-26 10:32:26.0,2006-04-26 10:32:29.0,2006-04-26 10:32:29.0,2006-04-26 10:32:29.0,...,0,1,"Entering a given~~Convert unit, standard",2~~1,0.830189,0.755559,0.870229,0.586957,0.888889,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232714,1078831,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R2C1,2006-04-12 10:09:44.0,2006-04-12 10:09:51.0,2006-04-12 10:10:05.0,2006-04-12 10:10:05.0,...,0,1,Identifying units,2,0.733333,0.719705,0.844037,0.796004,0.727273,0.571429
232715,1078832,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R4C1,2006-04-12 10:10:05.0,2006-04-12 10:10:12.0,2006-04-12 10:10:12.0,2006-04-12 10:10:12.0,...,0,1,Entering a given,12,0.733333,0.760107,0.844037,0.817953,0.727273,0.900000
232716,1078833,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R5C1,2006-04-12 10:10:12.0,2006-04-12 10:10:15.0,2006-04-12 10:10:15.0,2006-04-12 10:10:15.0,...,0,1,Entering a given,13,0.733333,0.755559,0.844037,0.817953,0.727273,0.900000
232717,1078834,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R1C2,2006-04-12 10:10:25.0,2006-04-12 10:10:40.0,2006-04-12 10:10:40.0,2006-04-12 10:10:40.0,...,0,1,NaN,NaN,0.733333,0.830699,0.844037,0.000000,0.727273,0.000000
232718,1078835,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R2C2,2006-04-12 10:10:40.0,2006-04-12 10:10:45.0,2006-04-12 10:10:45.0,2006-04-12 10:10:45.0,...,0,1,Identifying units,3,0.733333,0.851036,0.844037,0.796004,0.727273,0.571429
232719,1078836,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R3C2,2006-04-12 10:10:45.0,2006-04-12 10:10:56.0,2006-04-12 10:10:56.0,2006-04-12 10:10:56.0,...,0,1,"Using small numbers~~Write expression, positiv...",6~~3~~6,0.733333,0.404477,0.844037,0.443541,0.727273,0.500000
232720,1078837,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C2,2006-04-12 10:10:56.0,2006-04-12 10:11:07.0,2006-04-12 10:11:07.0,2006-04-12 10:11:07.0,...,0,1,Entering a given,14,0.733333,0.737349,0.844037,0.817953,0.727273,0.900000
232721,1078838,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R7C1,2006-04-12 10:11:07.0,2006-04-12 10:11:30.0,2006-04-12 10:11:54.0,2006-04-12 10:11:54.0,...,2,1,Entering a given,15,0.733333,0.707709,0.844037,0.817953,0.727273,0.900000
232722,1078839,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C1,2006-04-12 10:10:15.0,2006-04-12 10:10:25.0,2006-04-12 10:12:11.0,2006-04-12 10:12:11.0,...,0,1,"Using small numbers~~Find X, Simple~~Using dif...",7~~3~~7,0.733333,0.694107,0.844037,0.633333,0.727273,0.000000
232723,1078840,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R1C1,2006-04-12 10:12:15.0,2006-04-12 10:12:41.0,2006-04-12 10:12:41.0,2006-04-12 10:12:41.0,...,0,1,NaN,NaN,0.733333,0.840631,0.815385,0.000000,0.750000,0.000000
232724,1078841,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R2C1,2006-04-12 10:12:41.0,2006-04-12 10:12:52.0,2006-04-12 10:13:05.0,2006-04-12 10:13:05.0,...,0,1,Identifying units,4,0.733333,0.719705,0.815385,0.796004,0.750000,0.571429
232725,1078842,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R3C1,2006-04-12 10:13:05.0,2006-04-12 10:13:07.0,2006-04-12 10:13:07.0,2006-04-12 10:13:07.0,...,0,1,Define Variable,5,0.733333,0.966979,0.815385,0.966979,0.750000,1.000000
232726,1078843,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R4C1,2006-04-12 10:13:07.0,2006-04-12 10:13:11.0,2006-04-12 10:13:11.0,2006-04-12 10:13:11.0,...,0,1,Entering a given,16,0.733333,0.760107,0.815385,0.817953,0.750000,0.900000
232727,1078844,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R5C1,2006-04-12 10:13:11.0,2006-04-12 10:13:17.0,2006-04-12 10:13:17.0,2006-04-12 10:13:17.0,...,0,1,Entering a given,17,0.733333,0.755559,0.815385,0.817953,0.750000,0.900000
232728,1078845,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R1C2,2006-04-12 10:13:17.0,2006-04-12 10:13:36.0,2006-04-12 10:13:36.0,2006-04-12 10:13:36.0,...,0,1,NaN,NaN,0.733333,0.830699,0.815385,0.000000,0.750000,0.000000
232729,1078846,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R2C2,2006-04-12 10:13:36.0,2006-04-12 10:13:40.0,2006-04-12 10:13:40.0,2006-04-12 10:13:40.0,...,0,1,Identifying units,5,0.733333,0.851036,0.815385,0.796004,0.750000,0.571429
232730,1078847,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R3C2,2006-04-12 10:13:40.0,2006-04-12 10:14:27.0,2006-04-12 10:14:27.0,2006-04-12 10:14:27.0,...,0,1,"Write expression, positive slope~~Using large ...",4~~3~~8,0.733333,0.404477,0.815385,0.300493,0.750000,0.500000
232731,1078848,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R6C2,2006-04-12 10:14:27.0,2006-04-12 10:14:40.0,2006-04-12 10:14:40.0,2006-04-12 10:14:40.0,...,0,1,Entering a given,18,0.733333,0.737349,0.815385,0.817953,0.750000,0.900000
232732,1078849,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R7C2,2006-04-12 10:14:40.0,2006-04-12 10:14:49.0,2006-04-12 10:14:49.0,2006-04-12 10:14:49.0,...,0,1,Entering a given,19,0.733333,0.757615,0.815385,0.817953,0.750000,0.900000
232733,1078850,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R7C1,2006-04-12 10:15:09.0,2006-04-12 10:15:15.0,2006-04-12 10:15:34.0,2006-04-12 10:15:34.0,...,0,1,"Using large numbers~~Find X, positive slope~~U...",4~~2~~9,0.733333,0.707709,0.815385,0.657692,0.750000,0.000000
232734,1078851,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R6C1,2006-04-12 10:14:49.0,2006-04-12 10:15:09.0,2006-04-12 10:16:16.0,2006-04-12 10:16:16.0,...,0,1,"Using large numbers~~Find X, positive slope~~U...",5~~3~~10,0.733333,0.694107,0.815385,0.657692,0.750000,0.000000
232735,1078852,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C1,2006-04-12 10:16:23.0,2006-04-12 10:16:34.0,2006-04-12 10:16:34.0,2006-04-12 10:16:34.0,...,0,1,NaN,NaN,0.733333,0.840631,0.776978,0.000000,0.666667,0.000000
232736,1078853,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C1,2006-04-12 10:16:46.0,2006-04-12 10:16:47.0,2006-04-12 10:16:47.0,2006-04-12 10:16:47.0,...,0,1,Define Variable,6,0.733333,0.966979,0.776978,0.966979,0.666667,1.000000
232737,1078854,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C1,2006-04-12 10:16:34.0,2006-04-12 10:16:36.0,2006-04-12 10:16:59.0,2006-04-12 10:16:59.0,...,0,1,Identifying units,6,0.733333,0.719705,0.776978,0.796004,0.666667,0.571429
232738,1078855,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R4C1,2006-04-12 10:16:59.0,2006-04-12 10:17:08.0,2006-04-12 10:17:08.0,2006-04-12 10:17:08.0,...,0,1,Entering a given,20,0.733333,0.760107,0.776978,0.817953,0.666667,0.900000
232739,1078856,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R5C1,2006-04-12 10:17:08.0,2006-04-12 10:17:17.0,2006-04-12 10:18:19.0,2006-04-12 10:18:19.0,...,5,1,"Entering a given~~Convert unit, mixed",21~~1,0.733333,0.755559,0.776978,0.572193,0.666667,0.000000
232740,1078857,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C2,2006-04-12 10:18:19.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,...,0,1,NaN,NaN,0.733333,0.830699,0.776978,0.000000,0.666667,0.000000
232741,1078858,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C2,2006-04-12 10:18:40.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,...,0,1,Identifying units,7,0.733333,0.851036,0.776978,0.796004,0.666667,0.571429
232742,1078859,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C2,2006-04-12 10:18:44.0,2006-04-12 10:18:58.0,2006-04-12 10:20:55.0,2006-04-12 10:20:55.0,...,0,1,"Using small numbers~~Write expression, positiv...",8~~5~~11,0.733333,0.404477,0.776978,0.443541,0.666667,0.500000
232743,1078860,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,2006-04-12 10:20:55.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,...,0,1,Entering a given,22,0.733333,0.737349,0.776978,0.817953,0.666667,0.900000

In [70]:
# Save these precious features into disk !!
df.to_csv("data/CFAR_Features.csv")

# Machine Learning

In [82]:
CFAR_features = [ ["Anon Student Id"], ["Step Name"], ["Problem Name"], ["KC(Default)"]
    , ["Anon Student Id", "Problem Name"], ["Anon Student Id", "KC(Default)"]
]
features = [nameOfCFAR(v) for v in CFAR_features]
labels = ["Correct First Attempt"]
X = traindf[features]
Y = traindf[labels]

## Decision Tree

In [85]:
from sklearn import tree
dt_model = tree.DecisionTreeClassifier()

In [86]:
dt_model = dt_model.fit(X, Y)

## Random Forest

In [197]:
from sklearn import ensemble
est_count = 70
rf_model = ensemble.RandomForestClassifier(n_estimators = est_count, criterion="entropy")

In [198]:
rf_model = rf_model.fit(X, Y)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

# Testing

In [186]:
# Root Mean Squared Error
# Here, we consider using numpy as a powerful
# utility to solve the RMSE
def RMSE(P, Y):
    return np.sqrt(np.sum(np.square(P - Y)) / len(Y))

## Generate Features for Test

In [100]:
# Get the test data:
test_filepath = 'data/test.csv'
testdf = pd.read_table(test_filepath)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [101]:
# Inspect schema
testdf.columns
# Inspect head of testdf
testdf.head(20)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,10039,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,2/300*X = 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10482,52vEY7f17k,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,xScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,28
2,11024,52vEY7f17k,"Unit ES_03, Section ES_03-6",EG52,1,2.9 = -2x+3.7+x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Consolidate vars, no coeff; CLT]",27
3,11476,52vEY7f17k,"Unit CTA1_08, Section CTA1_08-3",REAL10,1,yScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,65
4,11948,52vEY7f17k,"Unit ES_04, Section ES_04-12",EG58,7,xR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,12532,52vEY7f17k,"Unit CTA1_10, Section CTA1_10-5",DIST05_SP,1,R1C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,12955,52vEY7f17k,"Unit ES_07, Section ES_07-4",LIT69A,4,z*u-n*j+z*g = 16n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Consolidate vars, any; {Combine va...",42
7,19200,6W08a98ZQV,"Unit ES_02, Section ES_02-8",EG41,2,FinalAnswer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,perform-mult-sp,9
8,19384,6W08a98ZQV,"Unit CTA1_13, Section CTA1_13-1",PROP10,1,R1C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,19835,6W08a98ZQV,"Unit CTA1_06, Section CTA1_06-3",FOR05,2,XLabel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Labelling the axes,33
10,20340,6W08a98ZQV,"Unit ES_03, Section ES_03-6",EG52A,1,constant termsR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,20727,6W08a98ZQV,"Unit CTA1_08, Section CTA1_08-3",REAL37,1,Formula 1 Coeff 0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Setting the y-intercept,19
12,21074,6W08a98ZQV,"Unit ES_04, Section ES_04-14",LIT33A,1,17/c = c*x/c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[SkillRule: Multiply/Divide; [Typein Skill: {R...,63
13,21263,6W08a98ZQV,"Unit CTA1_10, Section CTA1_10-2",DIST03_SP,3,R4C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Entering a given,177
14,21616,8o0mJnIpFH,"Unit CTA1_06, Section CTA1_06-3",JAN05,2,R5C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Using simple numbers~~Using large numbers~~Fin...,24~~15~~18
15,22178,8o0mJnIpFH,"Unit ES_03, Section ES_03-6",EG51A,2,constant termsR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
16,22320,8o0mJnIpFH,"Unit CTA1_08, Section CTA1_08-2",FEB03,1,yMin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Changing axis bounds,98
17,22862,8o0mJnIpFH,"Unit ES_04, Section ES_04-15",LIT58,1,7+y*(b+n) = r+f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,[SkillRule: Eliminate Parens; {CLT nested; CLT...,70
18,23277,8o0mJnIpFH,"Unit CTA1_10, Section CTA1_10-5",DISTFB08_SP,1,R3C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"Using simple numbers~~Write expression, positi...",78~~45~~56
19,23522,8o0mJnIpFH,"Unit ES_07, Section ES_07-4",LIT63A,1,n*t-h*r = c*j+z*n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",228

In [127]:
# Query CFAR through the specified columns as keys
def queryCFAR(row, df, columns):
    idx = None
    CFAR = 0.0
    for col in columns:
        if idx is None:
            idx = (df[col] == row[col])
        else:
            idx &= (df[col] == row[col])
    sub = df.loc[idx]
    if len(sub) != 0:
        CFAR = sub.iloc[0].loc[nameOfCFAR(columns)]
    return CFAR

In [129]:
CFAR_features = [ ["Anon Student Id"], ["Step Name"], ["Problem Name"], ["KC(Default)"]
    , ["Anon Student Id", "Problem Name"], ["Anon Student Id", "KC(Default)"]
]
for f in CFAR_features:
    testdf[nameOfCFAR(f)] = testdf.apply(queryCFAR, axis='columns', args=(traindf, f))

In [130]:
# Inspect the head of new features
testdf.head(100)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Hints,Corrects,KC(Default),Opportunity(Default),CFA | Anon Student Id,CFA | Step Name,CFA | Problem Name,CFA | KC(Default),"CFA | Anon Student Id,Problem Name","CFA | Anon Student Id,KC(Default)"
0,10039,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,2/300*X = 10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.748749,0.800000,0.858006,0.000000,1.000000,0.000000
1,10482,52vEY7f17k,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,xScale,NaN,NaN,NaN,NaN,...,NaN,NaN,Changing axis intervals,28,0.748749,1.000000,0.766129,1.000000,0.666667,1.000000
2,11024,52vEY7f17k,"Unit ES_03, Section ES_03-6",EG52,1,2.9 = -2x+3.7+x,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Consolidate vars, no coeff; CLT]",27,0.748749,0.000000,0.877049,0.895683,1.000000,0.790698
3,11476,52vEY7f17k,"Unit CTA1_08, Section CTA1_08-3",REAL10,1,yScale,NaN,NaN,NaN,NaN,...,NaN,NaN,Changing axis intervals,65,0.748749,1.000000,0.812217,1.000000,1.000000,1.000000
4,11948,52vEY7f17k,"Unit ES_04, Section ES_04-12",EG58,7,xR2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.748749,0.666041,0.869446,0.000000,0.805556,0.000000
5,12532,52vEY7f17k,"Unit CTA1_10, Section CTA1_10-5",DIST05_SP,1,R1C2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.748749,0.830699,0.807692,0.000000,0.000000,0.000000
6,12955,52vEY7f17k,"Unit ES_07, Section ES_07-4",LIT69A,4,z*u-n*j+z*g = 16n,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Consolidate vars, any; {Combine va...",42,0.748749,0.250000,0.727554,0.566392,0.750000,0.500000
7,19200,6W08a98ZQV,"Unit ES_02, Section ES_02-8",EG41,2,FinalAnswer,NaN,NaN,NaN,NaN,...,NaN,NaN,perform-mult-sp,9,0.777308,0.649245,0.793210,0.867826,0.709091,0.000000
8,19384,6W08a98ZQV,"Unit CTA1_13, Section CTA1_13-1",PROP10,1,R1C2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.777308,0.830699,0.844037,0.000000,1.000000,0.000000
9,19835,6W08a98ZQV,"Unit CTA1_06, Section CTA1_06-3",FOR05,2,XLabel,NaN,NaN,NaN,NaN,...,NaN,NaN,Labelling the axes,33,0.777308,0.894722,0.766129,0.859338,0.625000,0.802817
10,20340,6W08a98ZQV,"Unit ES_03, Section ES_03-6",EG52A,1,constant termsR2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.777308,0.870237,0.867391,0.000000,0.909091,0.000000
11,20727,6W08a98ZQV,"Unit CTA1_08, Section CTA1_08-3",REAL37,1,Formula 1 Coeff 0,NaN,NaN,NaN,NaN,...,NaN,NaN,Setting the y-intercept,19,0.777308,0.631032,0.823810,0.640940,0.800000,0.277778
12,21074,6W08a98ZQV,"Unit ES_04, Section ES_04-14",LIT33A,1,17/c = c*x/c,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Multiply/Divide; [Typein Skill: {R...,63,0.777308,0.916667,0.793478,0.912086,0.666667,0.956522
13,21263,6W08a98ZQV,"Unit CTA1_10, Section CTA1_10-2",DIST03_SP,3,R4C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a given,177,0.777308,0.760107,0.798009,0.817953,0.333333,0.824561
14,21616,8o0mJnIpFH,"Unit CTA1_06, Section CTA1_06-3",JAN05,2,R5C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Using simple numbers~~Using large numbers~~Fin...,24~~15~~18,0.820012,0.755559,0.777679,0.686542,0.750000,0.631579
15,22178,8o0mJnIpFH,"Unit ES_03, Section ES_03-6",EG51A,2,constant termsR2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.820012,0.870237,0.885030,0.000000,0.809524,0.000000
16,22320,8o0mJnIpFH,"Unit CTA1_08, Section CTA1_08-2",FEB03,1,yMin,NaN,NaN,NaN,NaN,...,NaN,NaN,Changing axis bounds,98,0.820012,0.818575,0.763982,0.775749,0.833333,0.904762
17,22862,8o0mJnIpFH,"Unit ES_04, Section ES_04-15",LIT58,1,7+y*(b+n) = r+f,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Eliminate Parens; {CLT nested; CLT...,70,0.820012,0.761905,0.741007,0.865864,0.000000,0.875000
18,23277,8o0mJnIpFH,"Unit CTA1_10, Section CTA1_10-5",DISTFB08_SP,1,R3C2,NaN,NaN,NaN,NaN,...,NaN,NaN,"Using simple numbers~~Write expression, positi...",78~~45~~56,0.820012,0.404477,0.806701,0.460606,1.000000,0.125000
19,23522,8o0mJnIpFH,"Unit ES_07, Section ES_07-4",LIT63A,1,n*t-h*r = c*j+z*n,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",228,0.820012,0.769231,0.821018,0.787275,0.000000,0.827586
20,23621,8o0mJnIpFH,"Unit CTA1_12, Section CTA1_12-2",SYS03,1,R3C3,NaN,NaN,NaN,NaN,...,NaN,NaN,Using simple numbers~~Using small numbers~~Wri...,94~~104~~55,0.820012,0.445225,0.667472,0.518980,0.625000,0.666667
21,35682,g209g5Vve6,"Unit CTA1_08, Section CTA1_08-3",REAL37,1,Slope Field 1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering the slope,20,0.707545,0.787045,0.823810,0.787045,1.000000,0.684211
22,36252,g209g5Vve6,"Unit ES_04, Section ES_04-14",LIT23A,1,(n*j+56)/n = r/n,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Multiply/Divide; [Typein Skill: {R...,28,0.707545,0.000000,0.784946,0.912086,1.000000,0.982759
23,36745,g209g5Vve6,"Unit CTA1_10, Section CTA1_10-4",DIST02_SP,1,ValidEquations,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.707545,0.880437,0.829431,0.000000,0.777778,0.000000
24,37170,g209g5Vve6,"Unit ES_07, Section ES_07-4",LIT65A,2,(h*q-n*t)/(s+m) = k*(s+m)/(s+m),NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Multiply/Divide; [Typein Skill: {R...,61,0.707545,0.941176,0.836041,0.912086,0.884615,0.982759
25,37642,g209g5Vve6,"Unit CTA1_12, Section CTA1_12-4",SYSFB22,1,R1C1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.707545,0.840631,0.807980,0.000000,0.000000,0.000000
26,38196,g209g5Vve6,"Unit ES_05, Section ES_05-11",LIT87,1,12y = 1-a*x,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove coefficient; {ax+b=c, divid...",279,0.707545,0.750000,0.916667,0.742500,1.000000,0.764706
27,38553,g209g5Vve6,"Unit CTA1_14, Section CTA1_14-4",2PTFB16,3,R5C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a given,205,0.707545,0.755559,0.887640,0.817953,0.555556,0.758824
28,38923,g209g5Vve6,"Unit LINEAR-INEQUALITY-GRAPHING, Section LINEA...",YGT-4X-10,1,GraphChoice1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.707545,0.990512,0.833333,0.000000,0.000000,0.000000
29,39308,g209g5Vve6,"Unit CTA1_15, Section CTA1_15-3",SYSFB06,1,ValidEquations,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.707545,0.880437,0.684783,0.000000,0.727273,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,86131,6Ax4SKe470,"Unit CTA1_12, Section CTA1_12-4",SYSFB23,1,256-9d = 50,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",204,0.718859,0.000000,0.684825,0.787275,0.529412,0.761194
71,86603,6Ax4SKe470,"Unit ES_05, Section ES_05-10",EG62,2,-74.76y+30.01+74.76y = 77.6y+74.76y,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Add/Subtract; [Typein Skill: {Isol...,107,0.718859,0.000000,0.832479,0.830724,0.757576,0.829268
72,87002,6Ax4SKe470,"Unit CTA1_14, Section CTA1_14-4",1PTFB12,1,R4C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a given,194,0.718859,0.760107,0.897959,0.817953,1.000000,0.796429
73,87535,6Ax4SKe470,"Unit LINEAR-INEQUALITY-GRAPHING, Section LINEA...",2X+3YGT9,1,xMin,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.718859,0.867934,0.897638,0.000000,0.666667,0.000000
74,87735,6Ax4SKe470,"Unit CTA1_15, Section CTA1_15-3",SYSFB10,1,R5C3,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a given,253,0.718859,0.721477,0.702128,0.817953,0.636364,0.796429
75,88089,6Ax4SKe470,"Unit QUAD-ADD-AREA-ALG1, Section QUAD-ADD-AREA...",NEWSQUARE5TRE,2,R8C2,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a computed linear value,51,0.718859,0.810680,0.673540,0.658019,0.542857,0.410256
76,88254,6Ax4SKe470,"Unit QUADRATICS-FACTORING_ES, Section QUADRATI...",EG-FACTOR43,1,FinalAnswer,NaN,NaN,NaN,NaN,...,NaN,NaN,factor-quadratic-sp,10,0.718859,0.649245,0.733333,0.609121,0.714286,0.700000
77,88632,6Ax4SKe470,"Unit QUADRATICS-SOLVING_ES, Section QUADRATICS...",EG-S-FACTOR03,1,(13+sqrt(169-168))/2 = x,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Select Eliminate Parens; {CLT nest...,57,0.718859,1.000000,0.950920,0.831297,1.000000,0.618182
78,89207,6Ax4SKe470,"Unit QUAD-VERTICAL-MOTION, Section QUAD-VERTIC...",NEWQUAD8TRE,1,b-factor-node,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.718859,0.905455,0.905109,0.000000,0.937500,0.000000
79,89305,6Ax4SKe470,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,1,constant factorsR2,NaN,NaN,NaN,NaN,...,NaN,NaN,perform-mult-row2-sp,6,0.718859,0.808000,0.891566,0.835979,1.000000,1.000000
80,89726,6Ax4SKe470,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS03,3,(2(x^3)(y^5))/((x^5)(y^5)),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.718859,0.000000,0.743158,0.000000,0.705882,0.000000
81,90089,6Ax4SKe470,"Unit CTA1_20, Section CTA1_20-2",1PTB06,1,R2C2,NaN,NaN,NaN,NaN,...,NaN,NaN,Identifying units,220,0.718859,0.851036,1.000000,0.796004,1.000000,0.765000
82,90259,6Ax4SKe470,"Unit CTA1_21, Section CTA1_21-3",FEB07,1,R1C1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.718859,0.840631,0.857143,0.000000,0.000000,0.000000
83,90424,6Ax4SKe470,"Unit CTA1_22, Section CTA1_22-1",SYSFB08,1,ValidEquations,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.718859,0.880437,0.809717,0.000000,0.750000,0.000000
84,90604,6Ax4SKe470,"Unit ES_06, Section ES_06-1",EG63A,4,611.57(y-326.08)-353.52 = -216.58-831.78y*(-76...,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Eliminate Parens; {CLT nested; CLT...,123,0.718859,0.000000,0.803279,0.865864,0.826087,0.777778
85,90728,6Ax4SKe470,"Unit CTA1_24, Section CTA1_24-1",L5FB05,1,68+24C = 2924,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",395,0.718859,0.000000,0.669725,0.787275,0.555556,0.761194
86,91018,6Ax4SKe470,"Unit CTA1_25, Section CTA1_25-1",FEB06,1,R5C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering a given,572,0.718859,0.755559,0.750000,0.817953,0.750000,0.796429
87,95515,7oiAa7MlW2,"Unit CTA1_10, Section CTA1_10-6",DISTFB11_SP,1,R1C2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.806851,0.830699,0.631111,0.000000,1.000000,0.000000
88,95711,7oiAa7MlW2,"Unit ES_07, Section ES_07-6",LIT82A,1,(w*m*j+w*j)/j*j = x*j,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Calculate Eliminate Parens; [Typei...,2,0.806851,0.666667,0.618644,0.835938,1.000000,0.000000
89,96059,7oiAa7MlW2,"Unit CTA1_12, Section CTA1_12-5",SYSFB25,2,Intersection 1 X,NaN,NaN,NaN,NaN,...,NaN,NaN,Labelling point of intersection,21,0.806851,0.764085,0.769397,0.808134,0.592593,0.900000
90,96342,7oiAa7MlW2,"Unit ES_05, Section ES_05-12",LIT87,1,12Y = 1-a*x,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove coefficient; {ax+b=c, divid...",151,0.806851,0.000000,0.916667,0.742500,1.000000,0.848485
91,96710,7oiAa7MlW2,"Unit CTA1_14, Section CTA1_14-4",TPH11,1,R3C2,NaN,NaN,NaN,NaN,...,NaN,NaN,Using small numbers~~Using difficult numbers~~...,110~~66~~11,0.806851,0.404477,0.841270,0.064516,1.000000,0.000000
92,96999,879eYkR2Wu,"Unit LINEAR-INEQUALITY-GRAPHING, Section LINEA...",P-3X-YLT6,1,-3(0)-y = 6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,0.000000,0.819549,0.000000,1.000000,0.000000
93,97452,879eYkR2Wu,"Unit CTA1_15, Section CTA1_15-3",SYSFB06,1,ValidEquations,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,0.880437,0.684783,0.000000,0.909091,0.000000
94,97629,879eYkR2Wu,"Unit QUAD-ADD-AREA-ALG1, Section QUAD-ADD-AREA...",NEWSQUARE3TRE,1,R4C3,NaN,NaN,NaN,NaN,...,NaN,NaN,Using simple numbers~~Using small numbers~~Fin...,62~~43~~9~~9,0.772258,0.555102,0.875000,0.651917,1.000000,0.807692
95,97736,879eYkR2Wu,"Unit QUADRATICS-FACTORING_ES, Section QUADRATI...",EG-FACTOR48,1,c-factor-1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,0.702128,0.589744,0.000000,0.666667,0.000000
96,98029,879eYkR2Wu,"Unit QUADRATICS-SOLVING_ES, Section QUADRATICS...",EG-S-FACTOR15,1,7x^2+19x-6 = 0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,1.000000,0.901408,0.000000,0.000000,0.000000
97,98618,879eYkR2Wu,"Unit QUAD-VERTICAL-MOTION, Section QUAD-VERTIC...",NEWQUAD8TRE,2,b-factor-node,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,0.905455,0.905109,0.000000,0.833333,0.000000
98,98791,879eYkR2Wu,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS03,1,yR2,NaN,NaN,NaN,NaN,...,NaN,NaN,perform-mult-row2-sp,13,0.772258,0.681495,0.960000,0.835979,1.000000,0.875000
99,98944,879eYkR2Wu,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS01-FIXED,1,x1R1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.772258,0.889749,0.632258,0.000000,0.875000,0.000000

## Test Error

In [159]:
# Extract used columns(features)
features = [nameOfCFAR(v) for v in CFAR_features]
labels = ["Correct First Attempt"]
# Drop unknown values
testdf = testdf.dropna(axis="index", subset=["Correct First Attempt"])
X_ = testdf[features]
Y_ = testdf[labels]

In [199]:
P = rf_model.predict(X_)
P = P.reshape(P.size, 1).astype(float)
Y_ = np.array(Y_).astype(float)
print(RMSE(P, Y_))

0.6003002251876642