# Feature Extract

In [8]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [9]:
# Get the data:
train_filepath = 'data/train.csv'
traindata = pd.read_table(train_filepath)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# Inspect the schema
traindata.columns

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)'],
      dtype='object')

In [11]:
# Inspect the head of data
traindata.head(10)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,33.0,33.0,NaN,1,0,0,1,NaN,NaN
1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,15.0,15.0,NaN,1,0,0,1,NaN,NaN
2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,78.0,NaN,78.0,0,2,0,1,Define Variable,1
3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,104.0,NaN,104.0,0,4,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1
4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,6.0,6.0,NaN,1,0,0,1,Entering a given,1
5,9943,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R5C1,2005-09-09 12:27:30.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,11.0,11.0,NaN,1,0,0,1,Entering a given,2
6,9944,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R6C1,2005-09-09 12:27:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,60.0,60.0,NaN,1,0,0,1,Entering a given,3
7,9945,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R7C2,2005-09-09 12:28:50.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,8.0,8.0,NaN,1,0,0,1,Entering a given,4
8,9946,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,ValidEquations,2005-09-09 12:31:39.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,13.0,13.0,NaN,1,0,0,2,NaN,NaN
9,9947,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,7/10*X = 1400,2005-09-09 12:31:52.0,2005-09-09 12:32:28.0,2005-09-09 12:32:35.0,2005-09-09 12:32:35.0,43.0,NaN,43.0,0,1,0,1,NaN,NaN

In [19]:
# Apply df as alias for training data in the following computation
df = traindata
df.dtypes

Row                              int64
Anon Student Id                 object
Problem Hierarchy               object
Problem Name                    object
Problem View                     int64
Step Name                       object
Step Start Time                 object
First Transaction Time          object
Correct Transaction Time        object
Step End Time                   object
Step Duration (sec)            float64
Correct Step Duration (sec)    float64
Error Step Duration (sec)      float64
Correct First Attempt            int64
Incorrects                       int64
Hints                            int64
Corrects                         int64
KC(Default)                     object
Opportunity(Default)            object
Anon Student Id CFAR           float64
dtype: object

In [20]:
numrows = len(df)
    
# Add a column for every problem unit and fill them with zerosdf["Student_CFAR"] = pd.Series(np.zeros(numrows), index=df.index)
keys = set(df["Anon Student Id"])
df["Anon Student Id CFAR"] = pd.Series(np.zeros(numrows), index=df.index)

for k in keys:
    cfa = df.loc[(df["Anon Student Id"] == k) & (df["Correct First Attempt"] == 1)]
    cond = df.loc[df["Anon Student Id"] == k]
    df.loc[df["Anon Student Id"] == k, "Anon Student Id CFAR"] = len(cfa) / len(cond)

In [24]:
# Inspect the head of data
df.tail(100)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),Anon Student Id CFAR
232644,1076832,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS08,1,(3x^2)(4x^4),2006-03-22 09:45:51.0,2006-03-22 09:47:30.0,2006-03-22 09:47:30.0,2006-03-22 09:47:30.0,99.0,99.0,NaN,1,0,0,1,NaN,NaN,0.830189
232645,1076833,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS08,1,FinalAnswer,2006-03-22 09:47:30.0,2006-03-22 09:47:49.0,2006-03-22 09:47:49.0,2006-03-22 09:47:49.0,19.0,19.0,NaN,1,0,0,1,perform-mult-sp,7,0.830189
232646,1076834,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS07,1,(2y^4)(y^3),2006-03-22 09:48:01.0,2006-03-22 09:48:08.0,2006-03-22 09:48:08.0,2006-03-22 09:48:08.0,7.0,7.0,NaN,1,0,0,1,NaN,NaN,0.830189
232647,1076835,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS07,1,FinalAnswer,2006-03-22 09:48:08.0,2006-03-22 09:48:18.0,2006-03-22 09:48:18.0,2006-03-22 09:48:18.0,10.0,10.0,NaN,1,0,0,1,perform-mult-sp,8,0.830189
232648,1076836,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,1,(4y^4)(2y^5),2006-03-22 09:48:25.0,2006-03-22 09:48:58.0,2006-03-22 09:49:05.0,2006-03-22 09:49:05.0,40.0,NaN,40.0,0,1,0,1,NaN,NaN,0.830189
232649,1076837,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,1,FinalAnswer,2006-03-22 09:49:05.0,2006-03-22 09:49:23.0,2006-03-22 09:49:23.0,2006-03-22 09:49:23.0,18.0,18.0,NaN,1,0,0,1,perform-mult-sp,9,0.830189
232650,1076838,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,2,(4y^6)(3y^5),2006-03-22 09:49:30.0,2006-03-22 09:49:36.0,2006-03-22 09:49:36.0,2006-03-22 09:49:36.0,6.0,6.0,NaN,1,0,0,1,NaN,NaN,0.830189
232651,1076839,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS09,2,FinalAnswer,2006-03-22 09:49:36.0,2006-03-22 09:49:46.0,2006-03-22 09:49:46.0,2006-03-22 09:49:46.0,10.0,10.0,NaN,1,0,0,1,perform-mult-sp,10,0.830189
232652,1076840,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01-FIXED,1,(4(x^2)(y^4))(3(x^3)(y^3)),2006-03-22 09:49:53.0,2006-03-22 09:50:01.0,2006-03-22 09:50:01.0,2006-03-22 09:50:01.0,8.0,8.0,NaN,1,0,0,1,NaN,NaN,0.830189
232653,1076848,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,(x^4)/x^2,2006-03-22 09:52:26.0,2006-03-22 09:52:43.0,2006-03-22 09:52:43.0,2006-03-22 09:52:43.0,17.0,17.0,NaN,1,0,0,1,NaN,NaN,0.830189
232654,1076849,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,FinalAnswer,2006-03-22 09:52:43.0,2006-03-22 09:53:10.0,2006-03-22 09:53:10.0,2006-03-22 09:53:39.0,42.0,42.0,NaN,1,0,0,2,simplify-fractions-sp,1,0.830189
232655,1076850,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04-FIXED,1,(x^2)/1,2006-03-22 09:53:10.0,2006-03-22 09:53:24.0,2006-03-22 09:53:24.0,2006-03-22 09:53:24.0,14.0,14.0,NaN,1,0,0,1,NaN,NaN,0.830189
232656,1076851,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,(x^5)/x^5,2006-03-22 09:53:47.0,2006-03-22 09:53:57.0,2006-03-22 09:53:57.0,2006-03-22 09:53:57.0,10.0,10.0,NaN,1,0,0,1,NaN,NaN,0.830189
232657,1076852,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,FinalAnswer,2006-03-22 09:53:57.0,2006-03-22 09:54:02.0,2006-03-22 09:54:11.0,2006-03-22 09:54:24.0,19.0,NaN,19.0,0,1,0,2,simplify-fractions-sp,2,0.830189
232658,1076853,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS06,1,1/1,2006-03-22 09:54:11.0,2006-03-22 09:54:19.0,2006-03-22 09:54:19.0,2006-03-22 09:54:19.0,8.0,8.0,NaN,1,0,0,1,NaN,NaN,0.830189
232659,1076854,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,(x^6)/x^2,2006-03-22 09:54:29.0,2006-03-22 09:54:34.0,2006-03-22 09:54:40.0,2006-03-22 09:54:40.0,11.0,NaN,11.0,0,1,0,1,NaN,NaN,0.830189
232660,1076855,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,FinalAnswer,2006-03-22 09:54:40.0,2006-03-22 09:54:51.0,2006-03-22 09:54:51.0,2006-03-22 09:55:03.0,17.0,17.0,NaN,1,0,0,2,simplify-fractions-sp,3,0.830189
232661,1076856,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS04,1,(x^4)/1,2006-03-22 09:54:51.0,2006-03-22 09:54:57.0,2006-03-22 09:54:57.0,2006-03-22 09:54:57.0,6.0,6.0,NaN,1,0,0,1,NaN,NaN,0.830189
232662,1076857,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,(5y^4)/y^2,2006-03-22 09:55:10.0,2006-03-22 09:55:16.0,2006-03-22 09:55:16.0,2006-03-22 09:55:16.0,6.0,6.0,NaN,1,0,0,1,NaN,NaN,0.830189
232663,1076858,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,FinalAnswer,2006-03-22 09:55:16.0,2006-03-22 09:55:42.0,2006-03-22 09:55:42.0,2006-03-22 09:56:00.0,34.0,34.0,NaN,1,0,0,2,simplify-fractions-sp,4,0.830189
232664,1076859,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS07,1,(5y^2)/1,2006-03-22 09:55:42.0,2006-03-22 09:55:52.0,2006-03-22 09:55:52.0,2006-03-22 09:55:52.0,10.0,10.0,NaN,1,0,0,1,NaN,NaN,0.830189
232665,1076860,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,(6x^5)/(3x^5),2006-03-22 09:56:06.0,2006-03-22 09:56:11.0,2006-03-22 09:56:11.0,2006-03-22 09:56:11.0,5.0,5.0,NaN,1,0,0,1,NaN,NaN,0.830189
232666,1076861,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,FinalAnswer,2006-03-22 09:56:11.0,2006-03-22 09:56:28.0,2006-03-22 09:56:28.0,2006-03-22 09:56:40.0,21.0,21.0,NaN,1,0,0,2,simplify-fractions-sp,5,0.830189
232667,1076874,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R1C1,2006-04-26 10:25:12.0,2006-04-26 10:27:41.0,2006-04-26 10:27:41.0,2006-04-26 10:27:41.0,149.0,149.0,NaN,1,0,0,1,NaN,NaN,0.830189
232668,1076875,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R1C2,2006-04-26 10:27:41.0,2006-04-26 10:27:56.0,2006-04-26 10:28:19.0,2006-04-26 10:28:19.0,38.0,NaN,38.0,0,1,0,1,NaN,NaN,0.830189
232669,1076876,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R2C1,2006-04-26 10:28:19.0,2006-04-26 10:29:00.0,2006-04-26 10:29:00.0,2006-04-26 10:29:00.0,41.0,41.0,NaN,1,0,0,1,Identifying units,1,0.830189
232670,1076877,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R3C1,2006-04-26 10:29:00.0,2006-04-26 10:31:18.0,2006-04-26 10:31:18.0,2006-04-26 10:31:18.0,138.0,138.0,NaN,1,0,0,1,Define Variable,1,0.830189
232671,1076878,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R3C2,2006-04-26 10:31:18.0,2006-04-26 10:31:26.0,2006-04-26 10:31:26.0,2006-04-26 10:31:26.0,8.0,8.0,NaN,1,0,0,1,Using simple numbers~~Using small numbers~~Wri...,1~~1~~1,0.830189
232672,1076879,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R4C1,2006-04-26 10:31:26.0,2006-04-26 10:32:26.0,2006-04-26 10:32:26.0,2006-04-26 10:32:26.0,60.0,60.0,NaN,1,0,0,1,Entering a given,1,0.830189
232673,1076880,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",L3REAL45,1,R5C1,2006-04-26 10:32:26.0,2006-04-26 10:32:29.0,2006-04-26 10:32:29.0,2006-04-26 10:32:29.0,3.0,3.0,NaN,1,0,0,1,"Entering a given~~Convert unit, standard",2~~1,0.830189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232714,1078831,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R2C1,2006-04-12 10:09:44.0,2006-04-12 10:09:51.0,2006-04-12 10:10:05.0,2006-04-12 10:10:05.0,19.0,NaN,19.0,0,2,0,1,Identifying units,2,0.733333
232715,1078832,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R4C1,2006-04-12 10:10:05.0,2006-04-12 10:10:12.0,2006-04-12 10:10:12.0,2006-04-12 10:10:12.0,7.0,7.0,NaN,1,0,0,1,Entering a given,12,0.733333
232716,1078833,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R5C1,2006-04-12 10:10:12.0,2006-04-12 10:10:15.0,2006-04-12 10:10:15.0,2006-04-12 10:10:15.0,3.0,3.0,NaN,1,0,0,1,Entering a given,13,0.733333
232717,1078834,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R1C2,2006-04-12 10:10:25.0,2006-04-12 10:10:40.0,2006-04-12 10:10:40.0,2006-04-12 10:10:40.0,15.0,15.0,NaN,1,0,0,1,NaN,NaN,0.733333
232718,1078835,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R2C2,2006-04-12 10:10:40.0,2006-04-12 10:10:45.0,2006-04-12 10:10:45.0,2006-04-12 10:10:45.0,5.0,5.0,NaN,1,0,0,1,Identifying units,3,0.733333
232719,1078836,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R3C2,2006-04-12 10:10:45.0,2006-04-12 10:10:56.0,2006-04-12 10:10:56.0,2006-04-12 10:10:56.0,11.0,11.0,NaN,1,0,0,1,"Using small numbers~~Write expression, positiv...",6~~3~~6,0.733333
232720,1078837,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C2,2006-04-12 10:10:56.0,2006-04-12 10:11:07.0,2006-04-12 10:11:07.0,2006-04-12 10:11:07.0,11.0,11.0,NaN,1,0,0,1,Entering a given,14,0.733333
232721,1078838,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R7C1,2006-04-12 10:11:07.0,2006-04-12 10:11:30.0,2006-04-12 10:11:54.0,2006-04-12 10:11:54.0,47.0,NaN,47.0,0,1,2,1,Entering a given,15,0.733333
232722,1078839,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C1,2006-04-12 10:10:15.0,2006-04-12 10:10:25.0,2006-04-12 10:12:11.0,2006-04-12 10:12:11.0,27.0,NaN,27.0,0,1,0,1,"Using small numbers~~Find X, Simple~~Using dif...",7~~3~~7,0.733333
232723,1078840,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R1C1,2006-04-12 10:12:15.0,2006-04-12 10:12:41.0,2006-04-12 10:12:41.0,2006-04-12 10:12:41.0,26.0,26.0,NaN,1,0,0,1,NaN,NaN,0.733333
232724,1078841,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R2C1,2006-04-12 10:12:41.0,2006-04-12 10:12:52.0,2006-04-12 10:13:05.0,2006-04-12 10:13:05.0,24.0,NaN,24.0,0,1,0,1,Identifying units,4,0.733333
232725,1078842,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R3C1,2006-04-12 10:13:05.0,2006-04-12 10:13:07.0,2006-04-12 10:13:07.0,2006-04-12 10:13:07.0,2.0,2.0,NaN,1,0,0,1,Define Variable,5,0.733333
232726,1078843,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R4C1,2006-04-12 10:13:07.0,2006-04-12 10:13:11.0,2006-04-12 10:13:11.0,2006-04-12 10:13:11.0,4.0,4.0,NaN,1,0,0,1,Entering a given,16,0.733333
232727,1078844,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R5C1,2006-04-12 10:13:11.0,2006-04-12 10:13:17.0,2006-04-12 10:13:17.0,2006-04-12 10:13:17.0,6.0,6.0,NaN,1,0,0,1,Entering a given,17,0.733333
232728,1078845,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R1C2,2006-04-12 10:13:17.0,2006-04-12 10:13:36.0,2006-04-12 10:13:36.0,2006-04-12 10:13:36.0,19.0,19.0,NaN,1,0,0,1,NaN,NaN,0.733333
232729,1078846,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R2C2,2006-04-12 10:13:36.0,2006-04-12 10:13:40.0,2006-04-12 10:13:40.0,2006-04-12 10:13:40.0,4.0,4.0,NaN,1,0,0,1,Identifying units,5,0.733333
232730,1078847,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R3C2,2006-04-12 10:13:40.0,2006-04-12 10:14:27.0,2006-04-12 10:14:27.0,2006-04-12 10:14:27.0,47.0,47.0,NaN,1,0,0,1,"Write expression, positive slope~~Using large ...",4~~3~~8,0.733333
232731,1078848,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R6C2,2006-04-12 10:14:27.0,2006-04-12 10:14:40.0,2006-04-12 10:14:40.0,2006-04-12 10:14:40.0,13.0,13.0,NaN,1,0,0,1,Entering a given,18,0.733333
232732,1078849,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R7C2,2006-04-12 10:14:40.0,2006-04-12 10:14:49.0,2006-04-12 10:14:49.0,2006-04-12 10:14:49.0,9.0,9.0,NaN,1,0,0,1,Entering a given,19,0.733333
232733,1078850,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R7C1,2006-04-12 10:15:09.0,2006-04-12 10:15:15.0,2006-04-12 10:15:34.0,2006-04-12 10:15:34.0,25.0,NaN,25.0,0,1,0,1,"Using large numbers~~Find X, positive slope~~U...",4~~2~~9,0.733333
232734,1078851,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",PERCENT15,1,R6C1,2006-04-12 10:14:49.0,2006-04-12 10:15:09.0,2006-04-12 10:16:16.0,2006-04-12 10:16:16.0,62.0,NaN,62.0,0,2,0,1,"Using large numbers~~Find X, positive slope~~U...",5~~3~~10,0.733333
232735,1078852,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C1,2006-04-12 10:16:23.0,2006-04-12 10:16:34.0,2006-04-12 10:16:34.0,2006-04-12 10:16:34.0,11.0,11.0,NaN,1,0,0,1,NaN,NaN,0.733333
232736,1078853,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C1,2006-04-12 10:16:46.0,2006-04-12 10:16:47.0,2006-04-12 10:16:47.0,2006-04-12 10:16:47.0,1.0,1.0,NaN,1,0,0,1,Define Variable,6,0.733333
232737,1078854,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C1,2006-04-12 10:16:34.0,2006-04-12 10:16:36.0,2006-04-12 10:16:59.0,2006-04-12 10:16:59.0,24.0,NaN,24.0,0,2,0,1,Identifying units,6,0.733333
232738,1078855,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R4C1,2006-04-12 10:16:59.0,2006-04-12 10:17:08.0,2006-04-12 10:17:08.0,2006-04-12 10:17:08.0,9.0,9.0,NaN,1,0,0,1,Entering a given,20,0.733333
232739,1078856,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R5C1,2006-04-12 10:17:08.0,2006-04-12 10:17:17.0,2006-04-12 10:18:19.0,2006-04-12 10:18:19.0,71.0,NaN,71.0,0,2,5,1,"Entering a given~~Convert unit, mixed",21~~1,0.733333
232740,1078857,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R1C2,2006-04-12 10:18:19.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,2006-04-12 10:18:40.0,21.0,21.0,NaN,1,0,0,1,NaN,NaN,0.733333
232741,1078858,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R2C2,2006-04-12 10:18:40.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,2006-04-12 10:18:44.0,4.0,4.0,NaN,1,0,0,1,Identifying units,7,0.733333
232742,1078859,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R3C2,2006-04-12 10:18:44.0,2006-04-12 10:18:58.0,2006-04-12 10:20:55.0,2006-04-12 10:20:55.0,131.0,NaN,131.0,0,1,0,1,"Using small numbers~~Write expression, positiv...",8~~5~~11,0.733333
232743,1078860,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R6C2,2006-04-12 10:20:55.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,2006-04-12 10:21:07.0,12.0,12.0,NaN,1,0,0,1,Entering a given,22,0.733333