In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

# Feature Extract

In [5]:
# Load training data
train_filepath = "data/train.csv"
traindf = pd.read_csv(train_filepath, sep='\t')
print("Table:", np.shape(traindf))
print("Columns:", traindf.columns)

Table: (232744, 19)
Columns: Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)'],
      dtype='object')

## Split unit and section out

In [10]:
# Split by comma
traindf["Problem Unit"] = traindf.apply(lambda row: row["Problem Hierarchy"].split(',')[0].strip(), axis=1)
traindf["Problem Section"] = traindf.apply(lambda row: row["Problem Hierarchy"].split(',')[1].strip(), axis=1)

In [11]:
# Overview of train data
traindf.head(100)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),Problem Unit,Problem Section
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,...,33.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,...,15.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,...,NaN,78.0,0,2,0,1,Define Variable,1,Unit CTA1_13,Section CTA1_13-1
3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,...,NaN,104.0,0,4,9,1,"Using small numbers~~Write expression, positiv...",1~~1~~1,Unit CTA1_13,Section CTA1_13-1
4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,...,6.0,NaN,1,0,0,1,Entering a given,1,Unit CTA1_13,Section CTA1_13-1
5,9943,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R5C1,2005-09-09 12:27:30.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,...,11.0,NaN,1,0,0,1,Entering a given,2,Unit CTA1_13,Section CTA1_13-1
6,9944,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R6C1,2005-09-09 12:27:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,2005-09-09 12:28:41.0,...,60.0,NaN,1,0,0,1,Entering a given,3,Unit CTA1_13,Section CTA1_13-1
7,9945,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R7C2,2005-09-09 12:28:50.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,2005-09-09 12:28:58.0,...,8.0,NaN,1,0,0,1,Entering a given,4,Unit CTA1_13,Section CTA1_13-1
8,9946,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,ValidEquations,2005-09-09 12:31:39.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,2005-09-09 12:31:52.0,...,13.0,NaN,1,0,0,2,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
9,9947,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,7/10*X = 1400,2005-09-09 12:31:52.0,2005-09-09 12:32:28.0,2005-09-09 12:32:35.0,2005-09-09 12:32:35.0,...,NaN,43.0,0,1,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
10,9948,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,7X/10 = 1400,2005-09-09 12:32:35.0,2005-09-09 12:32:58.0,2005-09-09 12:32:58.0,2005-09-09 12:32:58.0,...,23.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
11,9949,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R7C1,2005-09-09 12:28:41.0,2005-09-09 12:28:50.0,2005-09-09 12:33:04.0,2005-09-09 12:33:04.0,...,NaN,176.0,0,1,4,1,"Using small numbers~~Find X, Simple~~Using dif...",2~~1~~2,Unit CTA1_13,Section CTA1_13-1
12,9950,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R1C1,2005-09-09 12:33:21.0,2005-09-09 12:33:31.0,2005-09-09 12:33:31.0,2005-09-09 12:33:31.0,...,10.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
13,9951,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R1C2,2005-09-09 12:33:31.0,2005-09-09 12:33:39.0,2005-09-09 12:33:39.0,2005-09-09 12:33:39.0,...,8.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
14,9952,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R3C1,2005-09-09 12:33:39.0,2005-09-09 12:33:47.0,2005-09-09 12:33:47.0,2005-09-09 12:33:47.0,...,8.0,NaN,1,0,0,1,Define Variable,2,Unit CTA1_13,Section CTA1_13-1
15,9953,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R3C2,2005-09-09 12:33:47.0,2005-09-09 12:35:47.0,2005-09-09 12:35:47.0,2005-09-09 12:35:47.0,...,120.0,NaN,1,0,0,1,"Using small numbers~~Write expression, positiv...",3~~2~~3,Unit CTA1_13,Section CTA1_13-1
16,9954,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R4C2,2005-09-09 12:35:51.0,2005-09-09 12:35:57.0,NaN,2005-09-09 12:35:57.0,...,NaN,6.0,0,1,0,0,"Find Y, Simple~~Using small numbers~~Using dif...",1~~4~~4,Unit CTA1_13,Section CTA1_13-1
17,9955,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R4C1,2005-09-09 12:35:47.0,2005-09-09 12:35:51.0,2005-09-09 12:37:55.0,2005-09-09 12:37:55.0,...,NaN,122.0,0,2,0,1,Entering a given,5,Unit CTA1_13,Section CTA1_13-1
18,9956,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R5C1,2005-09-09 12:37:55.0,2005-09-09 12:38:02.0,2005-09-09 12:38:02.0,2005-09-09 12:38:02.0,...,7.0,NaN,1,0,0,1,Entering a given,6,Unit CTA1_13,Section CTA1_13-1
19,9957,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R6C1,2005-09-09 12:38:02.0,2005-09-09 12:38:11.0,2005-09-09 12:38:11.0,2005-09-09 12:38:11.0,...,9.0,NaN,1,0,0,1,Entering a given,7,Unit CTA1_13,Section CTA1_13-1
20,9958,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R7C2,2005-09-09 12:38:11.0,2005-09-09 12:38:35.0,2005-09-09 12:38:35.0,2005-09-09 12:38:35.0,...,24.0,NaN,1,0,0,1,Entering a given,8,Unit CTA1_13,Section CTA1_13-1
21,9959,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,ValidEquations,2005-09-09 12:39:32.0,2005-09-09 12:39:52.0,2005-09-09 12:39:52.0,2005-09-09 12:39:52.0,...,20.0,NaN,1,0,0,2,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
22,9960,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,3/5*X = 1200000,2005-09-09 12:39:52.0,2005-09-09 12:39:57.0,2005-09-09 12:39:57.0,2005-09-09 12:39:57.0,...,5.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
23,9961,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,3X/5 = 1200000,2005-09-09 12:39:57.0,2005-09-09 12:40:59.0,2005-09-09 12:41:13.0,2005-09-09 12:41:13.0,...,NaN,76.0,0,1,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
24,9962,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP07,1,R7C1,2005-09-09 12:38:35.0,2005-09-09 12:39:24.0,2005-09-09 12:41:24.0,2005-09-09 12:41:24.0,...,NaN,68.0,0,0,4,1,"Using small numbers~~Find X, Simple~~Using dif...",5~~2~~5,Unit CTA1_13,Section CTA1_13-1
25,9963,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP08,1,R1C1,2005-09-09 12:41:28.0,2005-09-09 12:41:41.0,2005-09-09 12:41:41.0,2005-09-09 12:41:41.0,...,13.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
26,9964,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP08,1,R1C2,2005-09-09 12:41:41.0,2005-09-09 12:41:51.0,2005-09-09 12:41:51.0,2005-09-09 12:41:51.0,...,10.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
27,9965,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP08,1,R3C1,2005-09-09 12:41:51.0,2005-09-09 12:41:54.0,2005-09-09 12:41:54.0,2005-09-09 12:41:54.0,...,3.0,NaN,1,0,0,1,Define Variable,3,Unit CTA1_13,Section CTA1_13-1
28,9966,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP08,1,R3C2,2005-09-09 12:41:54.0,2005-09-09 12:42:06.0,2005-09-09 12:42:06.0,2005-09-09 12:42:06.0,...,12.0,NaN,1,0,0,1,"Using small numbers~~Write expression, positiv...",6~~3~~6,Unit CTA1_13,Section CTA1_13-1
29,9967,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP08,1,R4C1,2005-09-09 12:42:06.0,2005-09-09 12:42:13.0,2005-09-09 12:42:13.0,2005-09-09 12:42:13.0,...,7.0,NaN,1,0,0,1,Entering a given,9,Unit CTA1_13,Section CTA1_13-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,10008,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R3C1,2005-09-14 12:27:43.0,2005-09-14 12:27:50.0,2005-09-14 12:27:50.0,2005-09-14 12:27:50.0,...,7.0,NaN,1,0,0,1,Define Variable,6,Unit CTA1_13,Section CTA1_13-1
71,10009,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R3C2,2005-09-14 12:27:50.0,2005-09-14 12:28:07.0,2005-09-14 12:28:29.0,2005-09-14 12:28:29.0,...,NaN,39.0,0,1,0,1,"Using small numbers~~Write expression, positiv...",17~~6~~17,Unit CTA1_13,Section CTA1_13-1
72,10010,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R4C2,2005-09-14 12:32:09.0,2005-09-14 12:34:16.0,NaN,2005-09-14 12:34:36.0,...,NaN,147.0,0,2,0,0,Entering a given,21,Unit CTA1_13,Section CTA1_13-1
73,10011,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,ValidEquations,2005-09-14 12:34:42.0,2005-09-14 12:35:46.0,2005-09-14 12:35:46.0,2005-09-14 12:35:46.0,...,64.0,NaN,1,0,0,2,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
74,10012,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,6/500*X = 600,2005-09-14 12:35:46.0,2005-09-14 12:35:49.0,2005-09-14 12:35:49.0,2005-09-14 12:35:49.0,...,3.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
75,10013,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,6X/500 = 600,2005-09-14 12:35:49.0,2005-09-14 12:35:58.0,2005-09-14 12:35:58.0,2005-09-14 12:35:58.0,...,9.0,NaN,1,0,0,1,[SkillRule: Eliminate Parens; {CLT nested; CLT...,1~~4,Unit CTA1_13,Section CTA1_13-1
76,10014,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,6X = 300000,2005-09-14 12:35:58.0,2005-09-14 12:36:06.0,2005-09-14 12:36:06.0,2005-09-14 12:36:06.0,...,8.0,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,4~~5,Unit CTA1_13,Section CTA1_13-1
77,10015,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R4C1,2005-09-14 12:28:29.0,2005-09-14 12:28:37.0,2005-09-14 12:36:12.0,2005-09-14 12:36:12.0,...,NaN,232.0,0,5,5,1,"Using small numbers~~Find X, Simple~~Using dif...",18~~7~~18,Unit CTA1_13,Section CTA1_13-1
78,10016,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R5C1,2005-09-14 12:36:12.0,2005-09-14 12:36:57.0,2005-09-14 12:36:57.0,2005-09-14 12:36:57.0,...,45.0,NaN,1,0,0,1,Entering a given,22,Unit CTA1_13,Section CTA1_13-1
79,10017,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP12,1,R6C1,2005-09-14 12:36:57.0,2005-09-14 12:37:02.0,2005-09-14 12:37:02.0,2005-09-14 12:37:02.0,...,5.0,NaN,1,0,0,1,Entering a given,23,Unit CTA1_13,Section CTA1_13-1
80,10018,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R1C1,2005-09-14 12:38:09.0,2005-09-14 12:38:21.0,2005-09-14 12:38:21.0,2005-09-14 12:38:21.0,...,12.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
81,10019,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R1C2,2005-09-14 12:38:21.0,2005-09-14 12:38:26.0,2005-09-14 12:38:26.0,2005-09-14 12:38:26.0,...,5.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
82,10020,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R3C1,2005-09-14 12:38:26.0,2005-09-14 12:38:29.0,2005-09-14 12:38:29.0,2005-09-14 12:38:29.0,...,3.0,NaN,1,0,0,1,Define Variable,7,Unit CTA1_13,Section CTA1_13-1
83,10021,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R3C2,2005-09-14 12:38:29.0,2005-09-14 12:38:40.0,2005-09-14 12:38:40.0,2005-09-14 12:38:40.0,...,11.0,NaN,1,0,0,1,"Using small numbers~~Write expression, positiv...",19~~7~~19,Unit CTA1_13,Section CTA1_13-1
84,10022,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R4C1,2005-09-14 12:38:40.0,2005-09-14 12:38:47.0,2005-09-14 12:38:47.0,2005-09-14 12:38:47.0,...,7.0,NaN,1,0,0,1,Entering a given,24,Unit CTA1_13,Section CTA1_13-1
85,10023,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R5C2,2005-09-14 12:38:50.0,2005-09-14 12:38:55.0,2005-09-14 12:38:55.0,2005-09-14 12:38:55.0,...,5.0,NaN,1,0,0,1,Entering a given,25,Unit CTA1_13,Section CTA1_13-1
86,10024,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R6C1,2005-09-14 12:38:55.0,2005-09-14 12:39:02.0,2005-09-14 12:39:02.0,2005-09-14 12:39:02.0,...,7.0,NaN,1,0,0,1,Entering a given,26,Unit CTA1_13,Section CTA1_13-1
87,10025,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R7C1,2005-09-14 12:39:02.0,2005-09-14 12:39:08.0,2005-09-14 12:39:08.0,2005-09-14 12:39:08.0,...,6.0,NaN,1,0,0,1,Entering a given,27,Unit CTA1_13,Section CTA1_13-1
88,10026,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,ValidEquations,2005-09-14 12:39:08.0,2005-09-14 12:40:03.0,2005-09-14 12:40:03.0,2005-09-14 12:40:03.0,...,55.0,NaN,1,0,0,2,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
89,10027,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,1/5*X = 40,2005-09-14 12:40:03.0,2005-09-14 12:40:06.0,2005-09-14 12:40:06.0,2005-09-14 12:40:06.0,...,3.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
90,10028,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,X/5 = 40,2005-09-14 12:40:06.0,2005-09-14 12:40:11.0,2005-09-14 12:40:11.0,2005-09-14 12:40:11.0,...,5.0,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,5~~6,Unit CTA1_13,Section CTA1_13-1
91,10029,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP02,1,R5C1,2005-09-14 12:38:47.0,2005-09-14 12:38:50.0,2005-09-14 12:40:17.0,2005-09-14 12:40:17.0,...,NaN,9.0,0,1,0,1,"Using small numbers~~Find X, Simple~~Using dif...",20~~8~~20,Unit CTA1_13,Section CTA1_13-1
92,10030,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R1C1,2005-09-14 12:40:21.0,2005-09-14 12:40:35.0,2005-09-14 12:40:35.0,2005-09-14 12:40:35.0,...,14.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
93,10031,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R1C2,2005-09-14 12:40:35.0,2005-09-14 12:40:41.0,2005-09-14 12:40:41.0,2005-09-14 12:40:41.0,...,6.0,NaN,1,0,0,1,NaN,NaN,Unit CTA1_13,Section CTA1_13-1
94,10032,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R3C1,2005-09-14 12:40:41.0,2005-09-14 12:40:42.0,2005-09-14 12:40:42.0,2005-09-14 12:40:42.0,...,1.0,NaN,1,0,0,1,Define Variable,8,Unit CTA1_13,Section CTA1_13-1
95,10033,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R3C2,2005-09-14 12:40:42.0,2005-09-14 12:41:10.0,2005-09-14 12:41:10.0,2005-09-14 12:41:10.0,...,28.0,NaN,1,0,0,1,Using difficult numbers~~Using small numbers~~...,21~~21~~8,Unit CTA1_13,Section CTA1_13-1
96,10034,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R4C1,2005-09-14 12:41:10.0,2005-09-14 12:41:16.0,2005-09-14 12:41:16.0,2005-09-14 12:41:16.0,...,6.0,NaN,1,0,0,1,Entering a given,28,Unit CTA1_13,Section CTA1_13-1
97,10035,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R5C1,2005-09-14 12:41:16.0,2005-09-14 12:41:22.0,2005-09-14 12:41:22.0,2005-09-14 12:41:22.0,...,6.0,NaN,1,0,0,1,Entering a given,29,Unit CTA1_13,Section CTA1_13-1
98,10036,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R6C1,2005-09-14 12:41:22.0,2005-09-14 12:41:29.0,2005-09-14 12:41:29.0,2005-09-14 12:41:29.0,...,7.0,NaN,1,0,0,1,Entering a given,30,Unit CTA1_13,Section CTA1_13-1
99,10037,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,R7C2,2005-09-14 12:41:29.0,2005-09-14 12:41:36.0,2005-09-14 12:41:36.0,2005-09-14 12:41:36.0,...,7.0,NaN,1,0,0,1,Entering a given,31,Unit CTA1_13,Section CTA1_13-1

## Extract one-hot feature

In [30]:
def one_dim_split(df, col):
    cols = set(df[col])
    numcols = len(cols)
    print("Column %s has %d values, so we will be adding as many columns to this dataframe" % (col, numcols))
    
    # Row number
    numrows = len(df)

    # Create df
    newdf = pd.DataFrame(np.zeros((numrows, numcols)), index=df.index, columns=list(cols))

    # For each value in the dataframe, mark the corresponding column as 1
    for c in cols:
        newdf.loc[df[col] == c, c] = 1

    return newdf

### One-dimensional Feature

#### Problem Units

In [33]:
pu_features = one_dim_split(traindf, "Problem Unit")

Column Problem Unit has 32 values, so we will be adding as many columns to this dataframe

In [34]:
# Save
pu_features.to_csv("data/pu-sparse-features.csv")

#### Problem Sections

In [35]:
ps_features = one_dim_split(traindf, "Problem Section")

Column Problem Section has 138 values, so we will be adding as many columns to this dataframe

In [36]:
# Save
ps_features.to_csv("data/ps-sparse-features.csv")

#### Problem Name

In [39]:
pn_features = one_dim_split(traindf, "Problem Name")

Column Problem Name has 1021 values, so we will be adding as many columns to this dataframe

In [40]:
# Save
pn_features.to_csv("data/pn-sparse-features.csv")

#### Step Name

In [41]:
sn_features = one_dim_split(traindf, "Step Name")

Column Step Name has 60709 values, so we will be adding as many columns to this dataframe

KeyboardInterrupt:

In [21]:
sn_features.to_csv("data/sn-sparse-features.csv")

KeyboardInterrupt: